.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border-radius: 0.5rem;
    font-weight: 700;
}

.button-primer {
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid #1c1c1c;
}

.button-sekunder {
    background-color: #fff;
    color: #1c1c1c;
    border: 1px solid #fff;
}