.detail {
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.info {
    background-color: #ececec;
    padding: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cart {
    margin-top: 20px;
}

.item, .list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list {
    margin-top: 20px;
    
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.image {
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.item1 {
     border-radius: 15px;
    background-color: #ececec;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.name, .price {
    font-size: 16px;
    font-weight: bold;
}