.label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 8px;
}

.input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #1c1c1c;
    width: 100%;
}