* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none
}

p {
    text-wrap: pretty;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    overflow-wrap: break-word;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, textarea, select, button { 
    font: inherit;
}